:root {
  --primary: #0b3c5d;
  --primary-light: #1d5f8a;
  --secondary: #e6f2f8;
  --card-bg: #f8fbfd;

  --text-main: #0f172a;
  --text-muted: #475569;
  --text-light: #f1f5f9;

  --button: #0a4d68;
  --button-hover: #083d52;

  --border: #cbd5e1;
  --overlay: rgba(11, 60, 93, 0.7);

  /* new reusable colors */
  --icon-color: #0a6ed1;
  --icon-bg: #ffffff;
  --icon-border: #dbeafe;
}